<aside class = "sidebar left sidebar-size-3 sidebar-offset-1 sidebar-skin-white sidebar-visible-desktop" id = sidebar-filter>
  <div data-scrollable>
    <div class = "sidebar-block equal-padding">
      <div class = "form-group input-group">
        <input type = "text" class = "form-control" placeholder = "Search">
        <span class = "input-group-btn">
    <button class = "btn btn-primary" type = "button"><i class = "fa fa-search"></i></button>
  </span>
      </div>
    </div>
    <div class = "category">price</div>
    <div class = "sidebar-block">
      <input data-slider = "default" type = "text" value = "" data-slider-min = "10" data-slider-max = "1000" data-slider-step = "5" data-slider-value = "[250,450]" data-slider-handle = "square" />
      <div class = "form-group input-group margin-none">
        <div class = "row margin-none">
          <div class = "col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "min ..">
          </div>
          <div class ="col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "max ..">
          </div>
        </div>
        <div class = "input-group-btn">
          <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <!-- -->
    <div class = "category">surface</div>
    <div class = "sidebar-block">
      <input data-slider = "default" type = "text" value = "" data-slider-min = "10" data-slider-max = "1000" data-slider-step = "5" data-slider-value = "[250,450]" data-slider-handle = "square" />
      <div class = "form-group input-group margin-none">
        <div class = "row margin-none">
          <div class = "col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "min ..">
          </div>
          <div class ="col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "max ..">
          </div>
        </div>
        <div class = "input-group-btn">
          <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <!-- -->
    <div class = "category">floor</div>
    <div class = "sidebar-block">
      <input data-slider = "default" type = "text" value = "" data-slider-min = "10" data-slider-max = "1000" data-slider-step = "5" data-slider-value = "[250,450]" data-slider-handle = "square" />
      <div class = "form-group input-group margin-none">
        <div class = "row margin-none">
          <div class = "col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "min ..">
          </div>
          <div class ="col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "max ..">
          </div>
        </div>
        <div class = "input-group-btn">
          <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <!-- -->
    <div class = "category">rooms</div>
    <div class = "sidebar-block">
      <input data-slider = "default" type = "text" value = "" data-slider-min = "10" data-slider-max = "1000" data-slider-step = "5" data-slider-value = "[250,450]" data-slider-handle = "square" />
      <div class = "form-group input-group margin-none">
        <div class = "row margin-none">
          <div class = "col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "min ..">
          </div>
          <div class ="col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "max ..">
          </div>
        </div>
        <div class = "input-group-btn">
          <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <!-- -->
    <div class = "category">bathrooms</div>
    <div class = "sidebar-block">
      <input data-slider = "default" type = "text" value = "" data-slider-min = "10" data-slider-max = "1000" data-slider-step = "5" data-slider-value = "[250,450]" data-slider-handle = "square" />
      <div class = "form-group input-group margin-none">
        <div class = "row margin-none">
          <div class = "col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "min ..">
          </div>
          <div class ="col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "max ..">
          </div>
        </div>
        <div class = "input-group-btn">
          <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
        </div>
      </div>
    </div>
    <!-- -->
    <div class = "category">constructed year</div>
    <div class = "sidebar-block">
      <input data-slider = "default" type = "text" value = "" data-slider-min = "10" data-slider-max = "1000" data-slider-step = "5" data-slider-value = "[250,450]" data-slider-handle = "square" />
      <div class = "form-group input-group margin-none">
        <div class = "row margin-none">
          <div class = "col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "min ..">
          </div>
          <div class ="col-xs-6 padding-none">
            <input class = "form-control" type = "text" placeholder = "max ..">
          </div>
        </div>
        <div class = "input-group-btn">
          <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
</aside>
