
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRealEstateLabel">Create or edit advertisement</h4>
    </div>
    <div class="modal-body" >
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.realEstate.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.realEstate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.realEstate.name"
                    required ng-minlength="3" ng-maxlength="30" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_advertisementType">Advertisement type</label>
            <select class="form-control" name="advertisementType" ng-model="vm.realEstate.advertisementType" id="field_advertisementType" required>
                <option value="SALE">SALE</option>
                <option value="RENT">RENT</option>
            </select>
            <div ng-show="editForm.advertisementType.$invalid">
                <p class="help-block"
                    ng-show="editForm.advertisementType.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.realEstate.location"
                    required />
            <div ng-show="editForm.location.$invalid">
                <p class="help-block"
                    ng-show="editForm.location.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_area">Area</label>
            <input type="number" class="form-control" name="area" id="field_area"
                    ng-model="vm.realEstate.area"
                    required min="1" />
            <div ng-show="editForm.area.$invalid">
                <p class="help-block"
                    ng-show="editForm.area.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.area.$error.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.area.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_technicalEquipment">Technical equipment</label>
            <input type="text" class="form-control" name="technicalEquipment" id="field_technicalEquipment"
                    ng-model="vm.realEstate.technicalEquipment"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_heatingType">Heating type</label>
            <input type="text" class="form-control" name="heatingType" id="field_heatingType"
                    ng-model="vm.realEstate.heatingType"
                     />
        </div>
        <div class="form-group" >
            <label class="control-label" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" datetime-picker="{{dateformat}}" ng-model="vm.realEstate.created" is-open="vm.datePickerOpenStatus.created"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.created.$invalid">
                <p class="help-block"
                    ng-show="editForm.created.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.created.$error.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label class="control-label" for="field_updated">Updated</label>
                <div class="input-group">
                    <input id="field_updated" type="text" class="form-control" name="updated" datetime-picker="{{dateformat}}" ng-model="vm.realEstate.updated" is-open="vm.datePickerOpenStatus.updated"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updated')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        -->
        <div class="form-group">
            <label class="control-label" for="field_durationInHours">Duration in hours</label>
            <input type="number" class="form-control" name="durationInHours" id="field_durationInHours"
                    ng-model="vm.realEstate.durationInHours"
                    required min="1" />
            <div ng-show="editForm.durationInHours.$invalid">
                <p class="help-block"
                    ng-show="editForm.durationInHours.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.durationInHours.$error.min" translate-value-min="1">
                    This field should be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.durationInHours.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.realEstate.phone"
                    required ng-minlength="5" />
            <div ng-show="editForm.phone.$invalid">
                <p class="help-block"
                    ng-show="editForm.phone.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.phone.$error.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.realEstate.price"
                    required min="0" />
            <div ng-show="editForm.price.$invalid">
                <p class="help-block"
                    ng-show="editForm.price.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.price.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.realEstate)" ngf-pattern="'image/*'">
            <label class="control-label" for="field_image">Image</label>
            <div>
                <img data-ng-src="{{'data:' + vm.realEstate.imageContentType + ';base64,' + vm.realEstate.image}}" style="max-height: 100px;" ng-if="vm.realEstate.image" alt="realEstate image"/>
                <div ng-if="vm.realEstate.image" class="help-block clearfix">
                    <span class="pull-left">{{vm.realEstate.imageContentType}}, {{vm.byteSize(vm.realEstate.image)}}</span>
                    <button type="button" ng-click="vm.realEstate.image=null;vm.realEstate.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.realEstate)" accept="image/*">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.realEstate.image"
                    required />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.realEstate.imageContentType" />
            <div ng-show="editForm.image.$invalid">
                <p class="help-block"
                    ng-show="editForm.image.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" ng-model="vm.realEstate.author" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div> 
        <div class="form-group">
            <label for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" ng-model="vm.realEstate.type" ng-options="realEstateType as realEstateType.name for realEstateType in vm.realestatetypes track by realEstateType.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
