
<div>
    <h2><span>Real Estate</span> {{vm.realEstate.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.realEstate.name}}</span>
        </dd>
        <dt><span>Advertisement type</span></dt>
        <dd>
            <span>{{vm.realEstate.advertisementType}}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <span>{{vm.realEstate.location}}</span>
        </dd>
        <dt><span>Area</span></dt>
        <dd>
            <span>{{vm.realEstate.area}}</span>
        </dd>
        <dt><span>Technical equipment</span></dt>
        <dd>
            <span>{{vm.realEstate.technicalEquipment}}</span>
        </dd>
        <dt><span>Heating type</span></dt>
        <dd>
            <span>{{vm.realEstate.heatingType}}</span>
        </dd>
        <dt><span>Created</span></dt>
        <dd>
            <span>{{vm.realEstate.created | date:'medium'}}</span>
        </dd>
        <!--<dt><span>Updated</span></dt>
        <dd>
            <span>{{vm.realEstate.updated | date:'medium'}}</span>
        </dd> -->
        <dt><span>Duration in hours</span></dt>
        <dd>
            <span>{{vm.realEstate.durationInHours}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{vm.realEstate.phone}}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
            <span>{{vm.realEstate.price}}</span>
        </dd>
        <dt><span>Image</span></dt>
        <dd>
            <div ng-if="vm.realEstate.image">
                <a ng-click="vm.openFile(vm.realEstate.imageContentType, vm.realEstate.image)">
                    <img data-ng-src="{{'data:' + vm.realEstate.imageContentType + ';base64,' + vm.realEstate.image}}" style="max-width: 100%;" alt="realEstate image"/>
                </a>
                {{vm.realEstate.imageContentType}}, {{vm.byteSize(vm.realEstate.image)}}
            </div>
        </dd>
        <dt><span>Author</span></dt>
        <dd>
            {{vm.realEstate.author.login}}
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <a ui-sref="real-estate-type-detail({id:vm.realEstate.type.id})">{{vm.realEstate.type.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            ui-sref="report"
            class="btn btn-primary">
        <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;<span> Report advert</span>
    </button>
    <button type="submit"
            ui-sref="user-rating"
            class="btn btn-primary">
        <span class="glyphicon glyphicon-star"></span>&nbsp;<span> Rate it</span>
    </button>
    <button type="submit"
            ui-sref="user-comment"
            class="btn btn-primary">
        <span class="glyphicon glyphicon-comment"></span>&nbsp;<span> Comment it</span>
    </button>
    <button type="button" ui-sref="real-estate-detail.edit({id:vm.realEstate.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
