<aside  class = "sidebar left sidebar-size-3 sidebar-offset-1 sidebar-skin-white sidebar-visible-desktop" id = sidebar-filter>
<div data-scrollable>
	<p>&nbsp;</p><p>&nbsp;</p>
	<div class="category">zip code</div>
	<div class="sidebar-block equal-padding">
		<div ng-dropdown-multiselect="" options="zipCodeLabels"
			selected-model="selectedZipCodes" extra-settings="button"></div>
	</div>
	<div class="category">city</div>
	<div class="sidebar-block equal-padding">
		<div ng-dropdown-multiselect="" options="cityLabels"
			selected-model="selectedCities" extra-settings="button"></div>
	</div>
	<div class="category">block</div>
	<div class="sidebar-block equal-padding">
		<div ng-dropdown-multiselect="" options="blockLabels"
			selected-model="selectedBlocks" extra-settings="button"></div>
	</div>
	<div class="category">advertisement type</div>
	<div class="sidebar-block equal-padding">
		<div ng-dropdown-multiselect="" options="advertisemntTypeLabels"
			selected-model="selectedAdvertisementTypes" extra-settings="button"></div>
	</div>
	<div class="category">realestate type</div>
	<div class="sidebar-block">
		<div ng-dropdown-multiselect="" options="realEstateTypeLabels"
			selected-model="selectedRealEstateTypes" extra-settings="button"></div>
	</div>
	<div class="category">price</div>
	<div class="sidebar-block">
		<div class="form-group input-group margin-none">
			<div class="row margin-none">
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="min .."
						ng-model="minPrice">
				</div>
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="max .."
						ng-model="maxPrice">
				</div>
			</div>
		</div>
	</div>
	<div class="category">surface</div>
	<div class="sidebar-block">
		<div class="form-group input-group margin-none">
			<div class="row margin-none">
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="min .."
						ng-model="minSurface">
				</div>
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="max .."
						ng-model="maxSurface">
				</div>
			</div>
		</div>
	</div>
	<!--
	<div class="category">floor</div>
	<div class="sidebar-block">
		<div class="form-group input-group margin-none">
			<div class="row margin-none">
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="min .."
						ng-model="minFloor">
				</div>
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="max .."
						ng-model="maxFloor">
				</div>
			</div>
		</div>
	</div>
	<div class="category">rooms</div>
	<div class="sidebar-block">
		<div class="form-group input-group margin-none">
			<div class="row margin-none">
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="min .."
						ng-model="minRooms">
				</div>
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="max .."
						ng-model="maxRooms">
				</div>
			</div>
		</div>
	</div>
	<div class="category">bathrooms</div>
	<div class="sidebar-block">
		<div class="form-group input-group margin-none">
			<div class="row margin-none">
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="min .."
						ng-model="minBathrooms">
				</div>
				<div class="col-xs-6 padding-none">
					<input class="form-control" type="text" placeholder="max .."
						ng-model="maxBathrooms">
				</div>
			</div>
		</div>
	</div>-->
	<div class="category"></div>
	<div class="sidebar-block">
		<div class="form-group input-group margin-none">
			<div class="row margin-none">

				<a
					ui-sref="search({
              search: {
              selectedZipCodes: selectedZipCodes,
              selectedCities: selectedCities,
              selectedBlocks: selectedBlocks,
              selectedAdvertisementTypes: selectedAdvertisementTypes,
              selectedRealEstateTypes: selectedRealEstateTypes,
              minPrice: minPrice,
              maxPrice: maxPrice,
              minSurface: minSurface,
              maxSurface: maxSurface
            }

            })"
					class="btn btn btn-primary">Search &nbsp;<i
					class="fa fa-search"></i></a>
			</div>
		</div>
	</div>
</div>
</aside>
