    <div data-scrollable>
      <div class = "sidebar-block equal-padding">
        <div class = "form-group input-group">
          <input type = "text" class = "form-control" placeholder = "Search">
          <span class = "input-group-btn">
          <button class = "btn btn-primary" type = "button"><i class = "fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <div class = "category">price</div>
      <div class = "sidebar-block">

        <div class = "form-group input-group margin-none">
          <div class = "row margin-none">
            <div class = "col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "min ..">
            </div>
            <div class ="col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "max ..">
            </div>
          </div>
          <div class = "input-group-btn">
            <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class = "category">surface</div>
      <div class = "sidebar-block">

        <div class = "form-group input-group margin-none">
          <div class = "row margin-none">
            <div class = "col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "min ..">
            </div>
            <div class ="col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "max ..">
            </div>
          </div>
          <div class = "input-group-btn">
            <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class = "category">floor</div>
      <div class = "sidebar-block">

        <div class = "form-group input-group margin-none">
          <div class = "row margin-none">
            <div class = "col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "min ..">
            </div>
            <div class ="col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "max ..">
            </div>
          </div>
          <div class = "input-group-btn">
            <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class = "category">rooms</div>
      <div class = "sidebar-block">

        <div class = "form-group input-group margin-none">
          <div class = "row margin-none">
            <div class = "col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "min ..">
            </div>
            <div class ="col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "max ..">
            </div>
          </div>
          <div class = "input-group-btn">
            <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class = "category">bathrooms</div>
      <div class = "sidebar-block">

        <div class = "form-group input-group margin-none">
          <div class = "row margin-none">
            <div class = "col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "min ..">
            </div>
            <div class ="col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "max ..">
            </div>
          </div>
          <div class = "input-group-btn">
            <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
          </div>
        </div>
      </div>
      <div class = "category">constructed year</div>
      <div class = "sidebar-block">
        
        <div class = "form-group input-group margin-none">
          <div class = "row margin-none">
            <div class = "col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "min ..">
            </div>
            <div class ="col-xs-6 padding-none">
              <input class = "form-control" type = "text" placeholder = "max ..">
            </div>
          </div>
          <div class = "input-group-btn">
            <button type = "button" class = "btn btn-primary"><i class = "fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
