<div ui-view = "carusel">
</div>

<div ui-view = "metaItem">
</div>

<div class = "container-fluid">
	<div class = "panel panel-default">
		<div class = "panel-heading">
			<h4 class = "panel-title">description</h4>
		</div>
		<div class = "panel-body">
			<div class = "expandable expandable-indicator-white expandable-trigger">
				<div class = "expandable-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolores nisi possimus temporibus. Aliquam assumenda consequuntur corporis, debitis eum eveniet excepturi fugit inventore iste libero nam nostrum nulla numquam, omnis quibusdam
						soluta tenetur velit veritatis. Impedit minus numquam praesentium sapiente! Harum laboriosam quam quibusdam recusandae?
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class = "panel panel-default">
		<div class = "panel-heading">
			<h4 class = "panel-title">Facilities</h4>
		</div>
		<div class = "panel-body">
			<div class = "row">
				<div class = "col-sm-4 col-xs-6">
					<ul class = "property-facilities">
						<li><i class="icon icon-wifi-2 primary"></i> Internet</li>
						<li><i class="icon icon-shovel"></i> Garden</li>
						<li><i class="md md-directions-car"></i> Garage</li>
						<li><i class="md md-directions-bus"></i> Bus</li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-6">
					<ul class="property-facilities">
						<li><i class="md md-local-mall"></i> Mall</li>
						<li><i class="md md-local-bar"></i> Restaurant</li>
						<li><i class="md md-local-laundry-service"></i> Washing</li>
						<li><i class="icon icon-no-smoking"></i> No Smoking</li>
					</ul>
				</div>
				<div class="col-sm-4 hidden-xs">
					<ul class="property-facilities">
						<li><i class="icon icon-shovel"></i> Garden</li>
						<li><i class="icon icon-wifi-2"></i> Internet</li>
						<li><i class="md md-directions-car"></i> Garage</li>
						<li><i class="md md-directions-bus"></i> Bus</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<h4>Comments</h4>
	<form>
		<div class = "form-group input-group">
			<input type = "text" class = "form-control" placeholder = "Your comment ..">
			<span class = "input-group-btn">
			<button class = "btn btn-primary" type = "button"><i class = "fa fa-plus"></i></button>
			</span>
		</div>
	</form>
<div ui-view = "comment"> </div>

	<h4>Related properties</h4>
	<div class = "slick-basic slick-slider" data-items = "4" data-items-lg = "4" data-items-md = "3" data-items-sm = "2" data-items-xs = "1">
		<div class = "item">
			<!--             OVDE TREBA GRID PROPERTY-->
		</div>
	</div>
</div>
