<aside class = "sidebar right sidebar-size-xs-1 sidebar-size-lg-48pc sidebar-size-40pc sidebar-offset-0 sidebar-skin-white" id = sidebar-map data-toggle-layout = sidebar-r-48pc-lg,sidebar-r-40pc data-toggle-bar = true data-overlay = false>
  <div data-scrollable>
    <!-- ISTAKNUTA NEKRETNINA-->
    <div>
    </div>
    <!-- OSTALE NEKRETNINE-->
    <h4 class = "category">Properties</h4>
    <div>
    </div>
    <!-- PAGINACIJA -->
    <div class = "sidebar-block equal-padding">
      <ul class = "pagination margin-none">
        <li class = "disabled"><a href = "#">&laquo;</a></li>
        <li class = "active"><a href = "#">1</a></li>
        <li><a href = "#">2</a></li>
        <li><a href = "#">3</a></li>
        <li><a href = "#">&raquo;</a></li>
      </ul>
    </div>
  </div>
</aside>
