<div class = "container-fluid">
	<div id = "carousel-example-generic" class = "carousel slide cover overlay overflow-hidden margin-bottom-none max-height-500" data-ride = "carousel">
		<div class = "ribbon-heading ribbon-primary h4 inline absolute left margin-none">&euro;{{realEstate.price | number : 2}}</div>
		<ol class = "carousel-indicators">
			<li data-target="#carousel-example-generic" ng-repeat="image in realEstate.images" ng-class="{active: (image.broj === 0)}" data-slide-to="{{image.broj}}"></li>
		</ol>
		<div class = "carousel-inner" >
			<div ng-class="{item: true, active: (image.broj === 0)}" ng-repeat= "image in realEstate.images">
				<img ng-src= "{{ image.fileString }} " class =" width-100pc">
				<a class="left carousel-control" role="button"  data-target="#carousel-example-generic" data-slide-to="{{image.broj === 0 ? image.broj+2 : image.broj-1 }}">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" role="button" data-target="#carousel-example-generic" data-slide-to="{{image.broj === 2 ? image.broj-2 : image.broj+1 }}">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<div class = "overlay overlay-bg-black">
			<div class = "v-bottom">
				<div class = "page-section">
					<h1 class = "text-h1 text-overlay">{{ realEstate.name}}</h1>
					<p class = "text-subhead text-overlay">{{ realEstate.location.street }}, {{ realEstate.location.block }}, {{ realEstate.location.city }}</p>
				</div>
			</div>
		</div>

	</div>

	<div class = "property-meta">
		<ul>
			<li class="property-meta-item"><i class="fa fa-fw icon icon-home-2"></i> {{ realEstate.surface }} m2</li>
			<li class="property-meta-item"><i class="fa fa-fw icon icon-home-2"></i> {{ realEstate.realEstateType.name }}</li>
			<li class="property-meta-item"><i class="fa fa-fw icon icon-bed"></i> {{ realEstate.rooms }} Bedrooms</li>
			<li class="property-meta-item"><i class="fa fa-fw icon icon-toilet"></i> {{ realEstate.bathrooms}} Bathrooms</li>
		</ul>
	</div>

	<div class = "panel panel-default">
		<div class = "panel-heading">
			<h4 class = "panel-title">description</h4>
		</div>
		<div class = "panel-body">
			<div class = "expandable expandable-indicator-white expandable-trigger">
				<div class = "expandable-content">
					<p> {{ realEstate.description }} </p>
				</div>
			</div>
		</div>
	</div>
	<div class = "panel panel-default">
		<div class = "panel-heading">
			<h4 class = "panel-title">indoors</h4>
		</div>
		<div class = "panel-body">
			<div class = "row">
				<div class = "col-sm-4 col-xs-6">
					<ul class = "property-facilities">
						<li ng-show="floorboards == 'Floorboards'"><i class="fa fa-home primary"></i> Floorboards</li>
						<li ng-show="floorboards != 'Floorboards'"><i class="fa fa-home"></i> Floorboards</li>
						<li ng-show="builtInWardrobes == 'Built-in Wardrobes'"><i class="fa fa-home primary"></i> Built-in Wardrobes</li>
						<li ng-show="builtInWardrobes != 'Built-in Wardrobes'"><i class="fa fa-home"></i> Built-in Wardrobes</li>
						<li ng-show="dishwasher == 'Dishwasher'"><i class="fa fa-home primary"></i> Dishwasher</li>
						<li ng-show="dishwasher != 'Dishwasher'"><i class="fa fa-home"></i> Dishwasher</li>
						<li ng-show="airConditioning == 'Air Conditioning'"><i class="fa fa-home primary"></i> Air Conditioning</li>
						<li ng-show="airConditioning != 'Air Conditioning'"><i class="fa fa-home"></i> Air Conditioning</li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-6">
					<ul class="property-facilities">
						<li ng-show="indoorSpa == 'Indoor Spa'"><i class="fa fa-home primary"></i> Indoor Spa</li>
						<li ng-show="indoorSpa != 'Indoor Spa'"><i class="fa fa-home"></i> Indoor Spa</li>
						<li ng-show="broadbandInternetAvailable == 'Broadband Internet Available'"><i class="fa fa-home primary"></i> Broadband Internet Available</li>
						<li ng-show="broadbandInternetAvailable != 'Broadband Internet Available'"><i class="fa fa-home"></i> Broadband Internet Available</li>
						<li ng-show="ductedHeating == 'Ducted Heating'"><i class="fa fa-home primary"></i> Ducted Heating</li>
						<li ng-show="ductedHeating != 'Ducted Heating'"><i class="fa fa-home"></i> Ducted Heating</li>
						<li ng-show="ductedCooling == 'Ducted Cooling'"><i class="fa fa-home primary"></i> Ducted Cooling</li>
						<li ng-show="ductedCooling != 'Ducted Cooling'"><i class="fa fa-home"></i> Ducted Cooling</li>
					</ul>
				</div>
				<div class="col-sm-4 hidden-xs">
					<ul class="property-facilities">
						<li ng-show="rumpusRoom == 'Rumpus Room'"><i class="fa fa-home primary"></i> Rumpus Room</li>
						<li ng-show="rumpusRoom != 'Rumpus Room'"><i class="fa fa-home"></i> Rumpus Room</li>
						<li ng-show="alarmSystem == 'Alarm System'"><i class="fa fa-home primary"></i> Alarm System</li>
						<li ng-show="alarmSystem != 'Alarm System'"><i class="fa fa-home"></i> Alarm System</li>
						<li ng-show="dustedVacumSystem == 'Dusted vacum system'"><i class="fa fa-home primary"></i> Dusted vacum system</li>
						<li ng-show="dustedVacumSystem != 'Dusted vacum system'"><i class="fa fa-home"></i> Dusted vacum system</li>
						<li ng-show="openFireplace == 'Open fireplace'"><i class="fa fa-home primary"></i> Open fireplace</li>
						<li ng-show="openFireplace != 'Open fireplace'"><i class="fa fa-home"></i> Open fireplace</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class = "panel panel-default">
		<div class = "panel-heading">
			<h4 class = "panel-title">outdoors</h4>
		</div>
		<div class = "panel-body">
			<div class = "row">
				<div class = "col-sm-4 col-xs-6">
					<ul class = "property-facilities">
						<li ng-show="secureParking == 'Secure Parking'"><i class="fa fa-home primary"></i> Secure Parking</li>
						<li ng-show="secureParking != 'Secure Parking'"><i class="fa fa-home"></i> Secure Parking</li>
						<li ng-show="courtyard == 'Courtyard'"><i class="fa fa-home primary"></i> Courtyard</li>
						<li ng-show="courtyard != 'Courtyard'"><i class="fa fa-home"></i> Courtyard</li>
						<li ng-show="shed == 'Shed'"><i class="fa fa-home primary"></i> Shed</li>
						<li ng-show="shed != 'Shed'"><i class="fa fa-home"></i> Shed</li>
						<li ng-show="deck == 'Deck'"><i class="fa fa-home primary"></i> Deck</li>
						<li ng-show="deck != 'Deck'"><i class="fa fa-home"></i> Deck</li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-6">
					<ul class="property-facilities">
						<li ng-show="balcony == 'Balcony'"><i class="fa fa-home primary"></i> Balcony</li>
						<li ng-show="balcony != 'Balcony'"><i class="fa fa-home"></i> Balcony</li>
						<li ng-show="swimmingPool == 'Swimming Pool'"><i class="fa fa-home primary"></i> Swimming Pool</li>
						<li ng-show="swimmingPool != 'Swimming Pool'"><i class="fa fa-home"></i> Swimming Pool</li>
						<li ng-show="carpot == 'Carpot'"><i class="fa fa-home primary"></i> Carpot</li>
						<li ng-show="carpot != 'Carpot'"><i class="fa fa-home"></i> Carpot</li>
						<li ng-show="garage == 'Garage'"><i class="fa fa-home primary"></i> Garage</li>
						<li ng-show="garage != 'Garage'"><i class="fa fa-home"></i> Garage</li>
					</ul>
				</div>
				<div class="col-sm-4 hidden-xs">
					<ul class="property-facilities">
						<li ng-show="tenisCourt == 'Tenis court'"><i class="fa fa-home primary"></i> Tenis court</li>
						<li ng-show="tenisCourt != 'Tenis court'"><i class="fa fa-home"></i> Tenis court</li>
						<li ng-show="outsideSpa == 'Outside spa'"><i class="fa fa-home primary"></i> Outside spa</li>
						<li ng-show="outsideSpa != 'Outside spa'"><i class="fa fa-home"></i> Outside spa</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<h4>Comments</h4>
	<section class = "panel panel-default">
		<div class="panel-body">
			<div class="input-group">
				<input type="text" ng-model="commentText" class="form-control" placeholder="Write comment...">
				<div class="input-group-btn"><a class="btn btn-primary" ui-sref="create_comment({commentText: commentText, realEstateId: realEstate.id})"> <i class="fa fa-comment"></i> Comment</a></div>
			</div>
			<p>&nbsp;</p>
			<div ng-repeat="comment in realEstateComments">
				<div class="media">
					<div class="media-left" ng-show="comment.user != null">
						<a ui-sref="user_profile({userId: comment.user.id})"> <img ng-src= "{{ comment.user.image.fileString }} " width="60" class="img-rounded media-object"></a>
					</div>
					<div class="media-left" ng-show="comment.user == null">
						<a> <img ng-src= "app/images/users/user.png " width="60" class="img-rounded media-object"></a>
					</div>
					<div class="media-body">
						<div class="panel panel-default">
							<div class="panel-heading panel-heading-white">
								<div class="pull-right">
									<small class="text-muted">{{ comment.posted | date: "short"}}</small>
								</div>
								<a ng-show="comment.user != null" ui-sref="user_profile({userId: comment.user.id})">{{ comment.user.username}}</a>
								<a ng-show="comment.user == null">GUEST</a>
							</div>
							<div class="panel-body">{{ comment.comment }}</div>
						</div>
					</div>
				</div>
				<p>&nbsp;</p>
			</div>
		</div>
		<p>&nbsp;</p>
	</section>
	<h4>Rating</h4>
	<section class = "panel panel-default">
		<div class="panel-body">
			<div class="input-group">
            <div star-rating rating="rate" read-only="false" max-rating="5"></div>
			</div>&nbsp;{{ rate }}
				<div class="input-group-btn"><a class="btn btn-primary" ui-sref="rate_realEstate({rate: rate, realEstateId: realEstate.id})"> <i class="fa fa-star"></i> Rate it</a></div>

			<p>&nbsp;</p>
			<div class="input-group">Srednja vrednost: <div star-rating rating="srednjaVrednost" read-only="true" max-rating="5"></div></div>&nbsp;
			<div class="input-group">{{realEstateRatings1}} / {{ukupno}}<div star-rating rating="1" read-only="true" max-rating="5"></div></div>
			<div class="input-group">{{realEstateRatings2}} / {{ukupno}}<div star-rating rating="2" read-only="true" max-rating="5"></div></div>
			<div class="input-group">{{realEstateRatings3}} / {{ukupno}}<div star-rating rating="3" read-only="true" max-rating="5"></div></div>
			<div class="input-group">{{realEstateRatings4}} / {{ukupno}}<div star-rating rating="4" read-only="true" max-rating="5"></div></div>
			<div class="input-group">{{realEstateRatings5}} / {{ukupno}}<div star-rating rating="5" read-only="true" max-rating="5"></div></div>
		</div>
		<p>&nbsp;</p>
	</section>
	<h4>Related properties</h4>
	<div class = "slick-basic slick-slider" data-items = "4" data-items-lg = "4" data-items-md = "3" data-items-sm = "2" data-items-xs = "1">
		<div class = "item">
			<!--             OVDE TREBA GRID PROPERTY-->

		</div>
	</div>
</div>
